{% extends "posts/post_base.html" %}

{% block post_content %}
<br>
<h3>Are you sure you want to delete this post?</h3>

<div class="posts">
	{% include "posts/_post.html" with post=object hide_delete=True %}
</div>

<form method="POST">
	{% csrf_token %}
	<input type="submit" value="Confirm Delete" class="mt-2 btn btn-outline-danger btn-large">
	<a href="{% url 'posts:single' username=user.username pk=object.pk %}" class="mt-2 btn btn-outline-warning btn-large">Cancel</a>
</form>

{% endblock %}
